repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty==0.0.3 check . --ignore unresolved-import
        language: python
        types_or: [python, pyi, jupyter]
