aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiohttp-jinja2==1.6
aiosignal==1.4.0
argcomplete==3.6.2
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
commitizen==4.9.1
dataclasses-json==0.6.7
decli==0.6.3
deprecated==1.2.18
frozenlist==1.8.0
future==1.0.0
humanize==4.13.0
idna==3.10
jinja2==3.1.6
json-schema-for-humans==1.4.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
linkify-it-py==2.0.3
lzstring==1.0.4
markdown-it-py==4.0.0
markdown2==2.5.4
markupsafe==3.0.3
marshmallow==3.26.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
msgpack==1.1.2
multidict==6.7.0
mypy-extensions==1.1.0
packaging==25.0
pastel==0.2.1
pathvalidate==3.3.1
pillow==11.3.0
platformdirs==4.5.0
poethepoet==0.37.0
prompt-toolkit==3.0.51
propcache==0.4.1
psutil==7.1.0
pygments==2.19.2
pytz==2025.2
pyyaml==6.0.3
questionary==2.1.1
rarfile==4.2
referencing==0.36.2
requests==2.32.5
rich==14.2.0
rich-click==1.9.3
-e file:///Users/balajis/Pranava/computing/rovr
rpds-py==0.27.1
ruff==0.14.0
send2trash==1.8.3
termcolor==3.1.0
textual==6.3.0
textual-autocomplete==4.0.6
textual-dev==1.8.0
textual-image==0.8.4
textual-serve==1.1.2
toml==0.10.2
tomlkit==0.13.3
tree-sitter==0.25.2
tree-sitter-bash==0.25.0
tree-sitter-css==0.25.0
tree-sitter-go==0.25.0
tree-sitter-html==0.23.2
tree-sitter-java==0.23.5
tree-sitter-javascript==0.25.0
tree-sitter-json==0.24.8
tree-sitter-markdown==0.5.1
tree-sitter-python==0.25.0
tree-sitter-regex==0.25.0
tree-sitter-rust==0.23.2
tree-sitter-sql==0.3.7
tree-sitter-toml==0.7.0
tree-sitter-xml==0.7.0
tree-sitter-yaml==0.7.2
ty==0.0.1a22
typing-extensions==4.15.0
typing-inspect==0.9.0
uc-micro-py==1.0.3
ujson==5.11.0
urllib3==2.5.0
wcwidth==0.2.14
wrapt==1.17.3
yarl==1.22.0
