$primary: #F5C2E7;
$secondary: #cba6f7;
$warning: #FAE3B0;
$error: #F28FAD;
$success: #ABE9B3;
$accent: #fab387;
$foreground: #cdd6f4;
$background: #181825;
$surface: #313244;
$panel: #45475a;
$input-cursor-foreground: #11111b;
$input-cursor-background: #f5e0dc;
$input-selection-background: #9399b2 30%;
$border: #b4befe;
$border-blurred: #585b70;
$footer-background: #45475a;
$block-cursor-foreground: #1e1e2e;
$block-cursor-text-style: none;
$button-color-foreground: #181825;
$dark: 1;
