$name: rose-pine-moon;
$primary: #c4a7e7;
$secondary: #3e8fb0;
$accent: #ea9a97;
$warning: #f6c177;
$error: #eb6f92;
$success: #9ccfd8;
$foreground: #e0def4;
$background: #232136;
$surface: #2a273f;
$panel: #393552;
$dark: true;

/* other vars */
$input-cursor-background: #f4ede8;
$input-selection-background: #44415a;
$border: #56526e;
$border-blurred: #6e6a86;
$footer-background: #393552;
$block-cursor-foreground: #232136;
$block-cursor-text-style: none;
$block-cursor-background: #c4a7e7;
