@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@view-transition {
  navigation: none;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --sl-transition-duration: 0s;
  }
}

/* Dark mode colors. */
:root {
  --sl-color-accent: #88c0d0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e5e9f0;
  --sl-color-gray-2: #c0c8d8;
  --sl-color-gray-3: #848daa;
  --sl-color-gray-4: #4c566a;
  --sl-color-gray-5: #434c5e;
  --sl-color-gray-6: #3b4252;
  --sl-color-black: #2e3440;
  --sl-color-accent-low: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-black)
  );
  --sl-color-accent-high: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-white)
  );
  --sl-color-text-accent-hover: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-gray-6) 50%
  );
  --sl-color-text-invert: var(--sl-color-black);
  /* --sl-color-bg-sidebar: hsl(from var(--sl-color-gray-5) h s l / 50%); */
  /* --sl-color-bg-nav: hsl(from var(--sl-color-gray-5) h s l / 50%); */
  --table-border-color: color-mix(in oklab, var(--sl-color-accent) 87.5%, var(--sl-color-black));
  --sl-content-width: 55vw;
  --sl-sidebar-width: 20vw;
  --sl-sidebar-item-padding-inline: 0.45rem;
  --sl-transition-duration: 0.375s;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent: color-mix(in oklab, #81a1c1 75%, #8fbcbb);
  --sl-color-black: #ffffff;
  --sl-color-gray-7: #e5e9f0;
  --sl-color-gray-6: #c0c8d8;
  --sl-color-gray-5: #848daa;
  --sl-color-gray-4: #4c566a;
  --sl-color-gray-3: #434c5e;
  --sl-color-gray-2: #3b4252;
  --sl-color-gray-1: #2e3440;
  --sl-color-white: #181d24;
  --sl-color-accent-high: var(--sl-color-white);
  --sl-color-accent-low: var(--sl-color-black);
  --sl-color-text-accent: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-white) 12.5%
  );
  --sl-color-text-accent-hover: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-gray-6) 25%
  );
  --sl-color-text-invert: var(--sl-color-black);
  /* --sl-color-bg-sidebar: hsl(from var(--sl-color-gray-6) h s l / 50%); */
  /* --sl-color-bg-nav: hsl(from var(--sl-color-gray-6) h s l / 50%); */
  --table-border-color: color-mix(in oklab, var(--sl-color-accent) 75%, var(--sl-color-white));
}
html * {
  font-family: "CaskaydiaCove NFM";
  &.no-lower,
  svg,
  svg * {
    text-transform: none !important;
  }
}
svg.rich-terminal *,
.header, h1, h2, h3,
.sidebar-content {
  font-family: "CaskaydiaCove NFM" !important;
}
.expressive-code {
  * {
    transition-property: background, color;
    text-transform: none;
  }
  > figure > figcaption::before {
    border: none;
    border-bottom: var(--ec-brdWd) solid var(--ec-frm-edTabBarBrdCol);
  }
  > figure:not(.is-terminal) > figcaption > .title {
    border: var(--ec-brdWd) solid var(--ec-frm-edTabBarBrdCol);
    border-bottom: none;
    background: var(--code-background);
    border-radius: 5px 5px 0 0;
  }
  .copy button {
    width: 2rem;
    height: 2rem;
  }
  .frame {
    --code-background: var(--sl-color-bg-sidebar);
    &.is-terminal {
      span.title {
        border: none;
      }
      .code {
        display: flex;
        flex-direction: row;
        &::before {
          content: " ";
          position: relative;
          display: block;
        }
        &:has(> span)::before {
          content: "❯ ";
        }
      }
      .header::before {
        left: unset !important;
        right: calc(var(--ec-uiPadInl) + -1px);
        background: linear-gradient(90deg, green 33%, yellow 0%, yellow 66%, red 0%, red 100%) !important;
        width: 2rem;
        height: 0.625rem;
      }
    }
  }
}
figure.frame {
  &:has(> figcaption > span)
    > pre[data-language]:not([data-language="plaintext"]) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &:not(:has(> figcaption > span))
    > pre[data-language]:not([data-language="plaintext"])::before {
      position: absolute;
      display: block;
      content: attr(data-language);
      right: 0.5em;
      top: 6px;
      transition: color calc(var(--sl-transition-duration) / 2) linear;
      border: 1px solid hsl(from var(--sl-color-text) h s l / 0.4);
      border-radius: 0.2rem;
      padding: 0.125em 0.5em;
  }
  &:hover > pre[data-language]::before {
    display: none !important;
  }

  > pre[data-language]:not([data-language="plaintext"]) {
    border-radius: 5px;
  }
  > figcaption {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: none;
  }
}
.site-title {
  color: transparent;
  &::before {
    content: "   _____ ____  _   __ _____\a   / ___// __ \\| | / // ___/\a  / /   / /_/ /| |/ // /\a/_/    \\____/ |___//_/";
    line-height: 1.25;
    white-space: pre;
    display: block;
    position: absolute;
    font-size: 0.5em;
    color: var(--sl-color-accent);
    transform: translateY(-0.25rem);
    transition: color calc(var(--sl-transition-duration) / 2) linear;
    font-weight: bolder;
    font-variant-ligatures: none;
    text-shadow:
      1px 0 0 currentColor,
      -1px 0 0 currentColor,
      0 1px 0 currentColor,
      0 -1px 0 currentColor,
      1px 1px 0 currentColor,
      -1px 1px 0 currentColor,
      1px -1px 0 currentColor,
      -1px -1px 0 currentColor;
  }
}
starlight-lang-select {
  select {
    margin-inline-start: calc(var(--sl-inline-padding) * -1 + 0.75ch);
  }
  label::before {
    content: "";
    display: block;
    position: absolute;
    left: 0.1ch;
    font-family: "CaskaydiaCove NFP";
  }
  label svg.icon:first-of-type > path {
    display: none
  }
}

/*mermaid*/
pre.mermaid[data-processed] {
  background: transparent !important;
  transition: all var(--sl-transition-duration) linear;
}

.social-icons a > :is(span, svg),
.social-wrapper > a > svg,
.sl-markdown-content + footer > div:not(.pagination-links) > a > svg {
  transition:
    rotate calc(var(--sl-transition-duration) * 2)
      cubic-bezier(0.34, 1.56, 0.64, 1),
    color calc(var(--sl-transition-duration) * 2)
      cubic-bezier(0.34, 1.56, 0.64, 1);
  user-select: none;
}
.social-icons a:hover > span:is(:first-child, :nth-child(2)),
.social-wrapper > a:hover > svg,
.sl-markdown-content + footer > div:not(.pagination-links) > a:hover > svg {
  rotate: 360deg;
}
.group-label + svg {
  transition: transform var(--sl-transition-duration)
    cubic-bezier(0.34, 1.56, 0.64, 1);
  user-select: none;
}

/* GitHub Stats styling */
.github-stats {
  display: flex;
  gap: 1rem;
  align-items: center;
}
/* filled variant */
.github-stat > span:nth-child(2) {
  position: absolute;
}
.github-stat > span:nth-child(2),
.github-stat:hover > span:first-child {
  color: transparent;
}
.github-stat:hover > span:nth-child(2) {
  color: var(--sl-color-text);
}
.github-stat {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--sl-color-text);
  text-decoration: none;
  transition: color calc(var(--sl-transition-duration) / 2) ease;
  svg {
    stroke: currentColor;
  }
  span {
    font-size: 0.875rem;
    &:hover:last-child {
      color: var(--sl-color-text);
    }
  }
}
/* old styles, here for reference later
starlight-file-tree {
  border-radius: 5px;
  ul:has(> li.file) {
    border-inline-start: 2px solid var(--sl-color-gray-4);
  }
  .file {
    margin-inline-start: 0em;
    padding-inline-start: 0.5em;
    border-radius: 5px;
    &:hover {
      background: var(--sl-color-gray-5);
    }
    .comment {
      max-width: unset;
      text-align: right;
      color: hsl(from var(--sl-color-gray-3) h s calc(l + 5));
    }
    .tree-entry {
      display: flex;
      justify-content: space-between;
    }
    svg {
      transform: translateY(-0.1em);
    }
  }
  .directory > details[open] > summary {
    border-bottom: 1.5px solid var(--sl-color-gray-4);
    border-radius: 0;
  }
  .directory > details > summary {
    padding-right: 0;
    max-width: unset;
    border-radius: 5px;
    list-style: none;
    padding-left: 1ch !important;
    margin-bottom: -2.5px;
    transition-property: color, background, border-radius, border;
    &::-webkit-details-marker {
      display: none;
    }
    &:hover {
      background: var(--sl-color-gray-5);
      border-radius: 5px;
      color: inherit;
      fill: inherit;
      svg {
        fill: var(--sl-color-gray-2);
      }
    }
    svg {
      transform: translateY(-0.1em);
    }
  }
}
*/
starlight-file-tree {
  .comment {
    max-width: unset;
    text-align: right;
  }
}
header > .header > .title-wrapper + [class*="print:hidden"] {
  display: block;
  > site-search {
    display: flex;
    float: right;
  }
}
@media (max-width: 50rem) {
  .sidebar-pane {
    background: transparent;
    backdrop-filter: blur(10px);
  }
}
header.header {
  border-bottom: none;
  backdrop-filter: blur(10px);
}
[aria-current="page"] :is(a, span) {
  font-weight: 599;
  font-size: 1rem;
}
sl-sidebar-state-persist > ul ul li {
  border-inline-start: 0.25em solid var(--sl-color-hairline-light);
  &:hover {
    border-inline-start: 0.25em solid var(--sl-color-text-accent-hover);
    color: var(--sl-color-text-accent-hover);
  }
  &:has(> [aria-current="page"]) {
    border-inline-start: 0.25em solid var(--sl-color-text-accent);
  }
}
