@view-transition {
  navigation: auto; /* enabled! */
}
@font-face {
  font-family: "CaskaydiaCove NFP";
  src: url("./caskaydiacovenfp.ttf") format("truetype");
}

:root {
  --sl-sidebar-width: 20vw;
  --sl-sidebar-item-padding-inline: 0.45rem;
}

/* Dark mode colors. */
:root {
  --sl-color-accent: #8fbcbb;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e5e9f0;
  --sl-color-gray-2: #c0c8d8;
  --sl-color-gray-3: #848daa;
  --sl-color-gray-4: #4c566a;
  --sl-color-gray-5: #434c5e;
  --sl-color-gray-6: #3b4252;
  --sl-color-black: #2e3440;
  --sl-color-accent-low: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-black)
  );
  --sl-color-accent-high: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-white)
  );
  --sl-color-text-accent-hover: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-gray-6) 50%
  );
  --sl-color-text-invert: var(--sl-color-black);
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent: #81a1c1;
  --sl-color-black: #ffffff;
  --sl-color-gray-7: #e5e9f0;
  --sl-color-gray-6: #c0c8d8;
  --sl-color-gray-5: #848daa;
  --sl-color-gray-4: #4c566a;
  --sl-color-gray-3: #434c5e;
  --sl-color-gray-2: #3b4252;
  --sl-color-gray-1: #2e3440;
  --sl-color-white: #181d24;
  --sl-color-accent-high: var(--sl-color-black);
  --sl-color-accent-low: var(--sl-color-white);
  --sl-color-text-accent: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-white) 12.5%
  );
  --sl-color-text-accent-hover: color-mix(
    in oklab,
    var(--sl-color-accent),
    var(--sl-color-gray-6) 25%
  );
  --sl-color-text-invert: var(--sl-color-black);
  --sl-color-bg-sidebar: var(--sl-color-gray-7);
}
html {
  scrollbar-color: var(--sl-color-bg-accent) var(--sl-color-gray-6);
  background: var(--sl-color-black);
  &[data-theme="light"] {
    scrollbar-color: var(--sl-color-bg-accent) var(--sl-color-gray-7);
    body {
      background: var(--sl-color-gray-7);
    }
  }
}
* {
  font-family: "CaskaydiaCove NFP";
  &:not(select):not(.code) {
    transition-property: background, color, border-inline-start;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
ul:where(.astro-emisptqc)
  ul:where(.astro-emisptqc)
  li:where(.astro-emisptqc):has(> [aria-current="page"]) {
  border-inline-start: 1px solid var(--sl-color-text-accent);
}
figure.is-terminal span.title {
  border: none;
}
.expressive-code .frame.is-terminal .header::before {
  left: unset !important;
  right: var(--ec-uiPadInl);
}
.expressive-code > figure > figcaption::before {
  border: none;
  border-bottom: var(--ec-brdWd) solid var(--ec-frm-edTabBarBrdCol);
}
.expressive-code > figure > figcaption > .title {
  border: var(--ec-brdWd) solid var(--ec-frm-edTabBarBrdCol);
  border-bottom: none;
}
.frame.is-terminal .code {
  display: flex;
  flex-direction: row;
  &::before {
    content: "â¯ ";
    position: relative;
    display: block;
  }
}
.main-pane > main > .content-panel:first-child {
  padding-top: 0;
}
[aria-current="page"] :is(a, span) {
  font-weight: 599;
  font-size: 1rem;
}
summary:where(.astro-emisptqc) {
  justify-content: start;
  padding: 0.2em 0;
  > svg {
    order: -1;
  }
}
.large:where(.astro-emisptqc) {
  font-weight: 599;
}
details[open] > ul {
  max-height: 500px;
}
details > ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s linear;
}
@media (min-width: 72rem) {
  .main-pane {
    margin: auto;
    width: auto !important;
  }
  [class^="right-sidebar"] {
    width: 25vw;
    max-width: 300px;
    > .sl-container {
      width: calc(25vw - 2rem);
    }
  }
  .main-frame:not(:has(> div > aside[class*="print:hidden"])) {
    --sl-content-inline-start: 20vw;
  }
}
@media (min-width: 50em) {
  [data-theme="light"] .sidebar-pane:where(.astro-ybwpbh62) {
    scrollbar-color: var(--sl-color-bg-accent) var(--sl-color-gray-7);
  }
  .sidebar-pane:where(.astro-ybwpbh62) {
    width: 20vw;
    scrollbar-color: var(--sl-color-bg-accent) var(--sl-color-gray-6);
    overscroll-behavior: contain;
    min-width: 220px;
    max-width: 300px;
    scrollbar-gutter: stable;
    &:not(:hover) {
      scrollbar-width: thin;
      padding-right: 0.375em;
    }
  }
  .header:where(.astro-2otbitds) {
    --__sidebar-width: 20vw;
  }
  :where(.astro-f4b376e3)[data-has-sidebar] {
    --sl-content-inline-start: max(20vw, 220px) !important;
  }
  .main-frame:not(:has(> div > aside[class*="print:hidden"])) {
    --sl-content-inline-start: 30vw;
  }
  .sidebar-pane:where(.astro-ybwpbh62) {
    border-inline-end: none;
  }
  .main-frame:where(.astro-ybwpbh62) {
    cursor: pointer;
    margin-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
    padding-top: 0;
    cursor: pointer;
    padding-inline-start: 0;
  }
}
.main-frame:where(.astro-ybwpbh62) {
  background: var(--sl-color-black);
}
.title-wrapper:where(.astro-2otbitds) {
  max-width: calc(var(--sl-sidebar-width) - 1rem);
}
select > .astro-bx376mqt:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.astro-bx376mqt:focus {
  background: var(--sl-color-gray-6) !important;
}
.header:where(.astro-ybwpbh62) {
  border-bottom: none;
}
.pagination-links > a {
  transition: transform 0.5s ease;
  box-shadow: unset;
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
  }
}
.pagination-links:has(> a:hover) > a:not(:hover) {
  transform: scale(0.99);
}
.header:where(.astro-2otbitds) {
  --sl-content-width: 60vw;
}
header > .header > .title-wrapper + [class*="print:hidden"] {
  display: block;
  > site-search {
    display: flex;
    float: right;
  }
}
summary#starlight__on-this-page--mobile {
  border-bottom: none;
}
#starlight__on-this-page {
  color: transparent;
  &::before {
    color: var(--sl-color-gray-2);
    position: absolute;
    display: block;
    content: "on this page";
    pointer-events: none;
  }
  & + ul > li:first-child > a {
    color: var(--sl-color-black);
  }
  & + ul > li:first-child::before {
    position: absolute;
    font-size: var(--sl-text-xs);
    --pad-inline: 0.5em;
    padding-inline: calc(1rem * var(--depth) + (var(--pad-inline) / 2))
      var(--pad-inline);
    content: "content";
    pointer-events: none;
    color: var(--sl-color-gray-3);
  }
  & + ul > li:first-child:has(> a[aria-current="true"])::before {
    color: var(--sl-color-text-accent);
  }
}
a[rel="next"] span.astro-cmhvllpy:not(.link-title) {
  color: var(--sl-color-black);
  &::before {
    position: absolute;
    font-size: 1em;
    color: var(--sl-color-gray-2);
    content: "next";
    pointer-events: none;
  }
}
a[rel="prev"] span.astro-cmhvllpy:not(.link-title) {
  color: var(--sl-color-black);
  &::before {
    position: absolute;
    font-size: 1em;
    color: var(--sl-color-gray-2);
    content: "prev";
    pointer-events: none;
  }
}
ul:where(.astro-emisptqc) ul:where(.astro-emisptqc) li:where(.astro-emisptqc) {
  border-inline-start: 0.25em solid var(--sl-color-hairline-light);
  &:hover {
    border-inline-start: 0.25em solid var(--sl-color-text-accent-hover);
    color: var(--sl-color-text-accent-hover);
  }
  &:has(> [aria-current="page"]) {
    border-inline-start: 0.25em solid var(--sl-color-text-accent);
  }
}
ul:where(.astro-emisptqc) li {
  cursor: pointer;
}
body {
  background: var(--sl-color-gray-6);
}
button[aria-label="Search"] > span {
  color: transparent;
  &::before {
    color: var(--sl-color-gray-2);
    position: absolute;
    display: block;
    content: "search";
    pointer-events: none;
  }
  & + kbd {
    color: transparent;
    kbd::before {
      color: var(--sl-color-gray-2);
      position: absolute;
      display: block;
      content: "ctrl";
    }
    kbd + kbd::before {
      content: "k";
    }
  }
}
.toggle:where(.astro-5n5shfqp) {
  color: transparent;
  &::before {
    color: var(--sl-color-gray-2);
    position: absolute;
    display: block;
    content: "on this page";
    pointer-events: none;
  }
  > svg {
    color: var(--sl-color-text);
  }
}
.title-wrapper:where(.astro-2otbitds) {
  max-width: unset !important;
}
button:where(.astro-fgrstytv) {
  box-shadow: unset !important;
  transition: transform 0.5s ease;
  &:hover {
    transform: scale(1.125);
  }
}
.dropdown:where(.astro-5n5shfqp) {
  box-shadow: none;
  background: color-mix(
    in oklab,
    var(--sl-color-black),
    var(--sl-color-gray-6)
  );
  border: none;
}
body > div:not(:has(> nav)) > div.main-frame > div {
  height: 100vh;
}
body > div:has(> nav) > div {
  margin-left: clamp(220px, var(--sl-content-inline-start), 300px);
}
figure.frame:has(> figcaption > span) > pre[data-language] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
figure.frame > pre[data-language] {
  border-radius: 5px;
}
figure.frame > figcaption {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
html:has(body > div > nav) {
  overscroll-behavior-y: none;
}
footer > * {
  margin-top: 0;
}
starlight-file-tree {
  border-radius: 5px;
  .file {
    margin-inline-start: 0em;
    padding-inline-start: 0.5em;
    border-radius: 5px;
    &:hover {
      background: var(--sl-color-gray-4);
    }
    .comment {
      max-width: unset;
      text-align: right;
      color: hsl(from var(--sl-color-gray-3) h s calc(l + 5));
    }
    .tree-entry {
      display: flex;
      justify-content: space-between;
    }
    svg {
      transform: translateY(-0.1em);
    }
  }
  .directory > details[open] > summary {
    border-bottom: 1.5px solid var(--sl-color-gray-4);
    border-radius: 0;
  }
  .directory > details > summary {
    padding-right: 0;
    max-width: unset;
    border-radius: 5px;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    &:hover {
      background: var(--sl-color-gray-4);
      border-radius: 5px;
    }
    svg {
      transform: translateY(-0.1em);
    }
  }
}
.site-title {
  color: transparent;
  &::before {
    content: " ___ ___ _ _ ___\A|  _| . | | |  _|\A|_| |___|\\_/|_|";
    line-height: 1.25;
    white-space: pre;
    display: block;
    position: absolute;
    font-size: 0.67em;
    color: var(--sl-color-accent);
    transform: translateY(-0.375em);
    font-weight: bolder;
    text-shadow:
      1.25px 0 0 currentColor,
      -1.25px 0 0 currentColor,
      0 1.25px 0 currentColor,
      0 -1.25px 0 currentColor;
  }
}
starlight-file-tree:where(.astro-2li5qafl) ul:has(> li.file) {
  border-inline-start: 2px solid var(--sl-color-gray-4);
}
.sl-markdown-content a {
  color: var(--sl-color-accent-high);
  margin: 0 -0.25em;
  padding: 0 0.25em;
  &:hover {
    color: var(--sl-color-black);
    background-color: var(--sl-color-accent-high);
  }
}

@media print {
  body > div:has(> nav) > div {
    margin-left: 0;
  }
  .main-frame:where(.astro-ybwpbh62) {
    margin-top: 0;
  }
}
