name: Label OS-specific issues

on:
  issues:
    types: [opened]

jobs:
  label:
    runs-on: ubuntu-slim
    steps:
      - name: Add OS labels
        env:
          GH_TOKEN: ${{ github.token }}
          ISSUE_BODY: ${{ github.event.issue.body }}
        shell: pwsh
        run: |
          $body = $env:ISSUE_BODY

          $os = @('Windows', 'macOS', 'Linux')

          $labels = @()
          $os | ForEach-Object {
            if ($body -match "- \[X\] $_") { $labels += "os:$($_.ToLower())" }
          }

          if (($labels.Count -gt 0) -and ($labels.Count -lt 3)) {
            $labelsStr = $labels -join ','
            gh issue edit ${{ github.event.issue.number }} --add-label $labelsStr
          }
